/* Nav--start */
nav {
    background-color: var(--clr-dark);
    display: flex;
    /* height: 100px; */
    /* align-items: center; */
    /* gap:15px; */
    /* padding-inline: 15px; */
    gap:var(--spacing);
    padding-inline: var(--spacing);
}
.nav-link,.nav-logo {
    color: var(--clr-light);
    text-decoration: none;

    display: inline-block;
    padding-block: 35px;
}
.nav-menu:last-of-type {
    margin-left: auto;
}
.nav-menu {
    display: flex;
    /* gap: 15px; */
    gap:var(--spacing);
}
/* Nav--end */
/* Header--start */
/* 
    1.高度使用hight且使用背景
    2.高度使用padding且使用背景
    3.高度等比例且使用背景
    4.高度使用hight且使用img
    5.高度等比例且使用img
    若網站沒有任何的圖片輪播、後端資料串接可直接使用背景的方式製作banner（1,2,3）
    反之則建議使用img當作banner。（4,5）
*/

header {
    width: 100%;
    /* height: 600px; */
    /* padding-block: 300px; */
    /* padding-bottom: 33%; */
    aspect-ratio: 16 / 9;
    /* min-height: 400px; */
    max-height: 700px;
    /* background-color: #098; */
    /* background-image: url('https://picsum.photos/id/87/1600/1000'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */

    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
/* header img {
    width: 100%;
    height: 100%;
    object-fit:cover;
} */
.header-content {
    /* background-color:var(--clr-primary); */
    background-color:rgb(255 255 255 / .2);
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */
    width: 400px;
    height: fit-content;
    position: absolute;
    inset:0;
    margin:auto;
    text-align: center;
    padding: 30px;
    color: var(--clr-light);
    border-radius: 15px;
}
header h1 {
    font-size: 5rem;
}
/* Header--end */
/* About--start */
#about {
    padding-block: 100px;
    /* background-color: #fff0bb; */
    background-image: linear-gradient(to right bottom,#fff0bb,#ffe999);
}
#about h2 {
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid hsl(47, 100%, 50%);
}
#about h3 {
    font-size: 2rem;
    color: var(--clr-dark);
    margin-bottom: var(--spacing);
}
#about i {
    color: var(--clr-blue-500);
}
#about .row .row {
    align-items: center;
}
/* About--end */
/* Service--start */
#service .row {
    align-items: center;
}
#service h3 {
    font-size: 2rem;
    /* margin-bottom: var(--spacing); */
}
#service p {
    /* margin-bottom: var(--spacing); */
}
.service-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}
#service .container:last-of-type .col-6:first-of-type{
    order:2;
}
#service .container:last-of-type .col-6:last-of-type{
    order:1;
}
/* #service .col-6:nth-of-type(3){order:4;} */
/* #service .col-6:nth-of-type(4){order:3;} */
/* Service--end */